.containerPortofolio {
    padding: 5% 10% 5% 10%;

    background: transparent;
    background-color: #FFFFFF;
}

.title1Portofolio {
    font-size: 1.3rem;
    font-weight: bolder;

    color: #00A78E;
}

.title2Portofolio {
    font-size: 2.5rem;
    font-weight: bolder;

    color: #293651;
}

.carousel {
    margin-top: 3%;
}

.imageCarousel {
    width: 300px;
    cursor: pointer !important;
}

.titleCarousel {
    margin: 10px 0% 0% 15%;

    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;

    color: #293651;
}

.descriptionCarousel {
    margin: 0px 0% 0% 15%;

    text-align: left;
    font-size: 1rem;
    font-weight: bold;

    color: #646787;
}

@media only screen and (max-width: 500px) {
    .buttonPortofolio {
        margin-left: 50%;
    }
}